<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
<link rel='stylesheet' href='/stylesheets/style1.css' />
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script
	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="http://d3js.org/d3.v2.js"></script>
<script type="text/javascript" src="/js/scroll.js"></script>

<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
<script>
jQuery(window).scroll(function () {
    if (jQuery(this).scrollTop() > 100) {
        if (jQuery('.totop').hasClass('visible') == false) {
            jQuery('.totop').stop().animate({
                right: '0px'
            }, function () {
                jQuery('.totop').addClass('visible')
            });
        }
    } else {
        if (jQuery('.totop').hasClass('visible') == true) {
            jQuery('.totop').stop().animate({
                right: '-300px'
            }, function () {
                jQuery('.totop').removeClass('visible')
            });
        }
    }
});
$(function() {
	  $('a[href*="#"]:not([href="#"])').click(function() {
	    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
	      var target = $(this.hash);
	      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
	      if (target.length) {
	        $('html, body').animate({
	          scrollTop: target.offset().top
	        }, 1000);
	        return false;
	      }
	    }
	  });
	});


	$(document).ready(function() {

		var header = $('header'), btn = $('button.toggle-nav');

		btn.hover('click', function() {
			header.toggleClass('active');
		});

	});
	$(document).ready(function() {

		var active1 = false;
		var active2 = false;
		var active3 = false;
		var active4 = false;

		var active5 = false;
		var active6 = false;
		
		$('.parent2').hover('mousedown touchstart', function() {

			if (!active1)
				$(this).find('.test1').css({
					'background-color' : 'Violet',
					'opacity':'0.6',
					'transform' : 'translate(-125px,135px)'
				});
			else
				$(this).find('.test1').css({
					'background-color' : 'transparent',
					'transform' : 'none'
				});
			if (!active2)
				$(this).find('.test2').css({
					'background-color' : 'indigo',
					'opacity':'0.6',
					'transform' : 'translate(130px,135px)'
				});
			else
				$(this).find('.test2').css({
					'background-color' : 'transparent',
					'transform' : 'none'
				});
			if (!active3)
				$(this).find('.test3').css({
					'background-color' : 'Blue',
					'opacity':'0.6',
					'transform' : 'translate(-300px,0px)'
				});
			else
				$(this).find('.test3').css({
					'background-color' : 'transparent',
					'opacity':'0.6',
					'transform' : 'none'
				});
			if (!active4)
				$(this).find('.test4').css({
					'background-color' : 'green',
					'opacity':'0.6',
					'transform' : 'translate(300px,0px)'
				});
			else
				$(this).find('.test4').css({
					'background-color' : 'transparent',
					
					'transform' : 'none'
				});
			if (!active5)
				$(this).find('.test5').css({
					'background-color' : 'yellow',
					'opacity':'0.6',
					'transform' : 'translate(130px,-135px)'
				});
			else
				$(this).find('.test5').css({
					'background-color' : 'transparent',
					'transform' : 'none'
				});
			if (!active6)
				$(this).find('.test6').css({
					'background-color' : 'brown',
					
					'opacity':'0.6',
					'transform' : 'translate(-125px,-135px)'
				});
			else
				$(this).find('.test6').css({
					'background-color' : 'transparent',
					'transform' : 'none'
				});
			active1 = !active1;
			active2 = !active2;
			active3 = !active3;
			active4 = !active4;
			active5 = !active5;
			active6 = !active6;

		});
	});
</script>
<style>
.carousel-inner>.item>img, .carousel-inner>.item>a>img {
	width: 70%;
	margin: auto;
}

#hi,#hi1,#hi2,#hi3,#hi4,#hi5,#hi6 {
	color: #000000;
	
	font-size: 18px;
	font-family:cursive;
	font-weight: 1000;
	line-height: 20px;
	
	
}
</style>
</head>
<body>



<div class="mask2"><i class="fa fa-home fa-3x"></i></div>
	<header>
		<button class="toggle-nav"></button>
		<ul class="nav" style="background-color: #26518c; margin-top: -120px;">
			<li class="loud"><a href="#">Home</a></li>
			<li class="loud"><a href="#">About</a></li>
			<li class="loud"><a href="#">Case studies</a></li>
			<li class="loud"><a href="#">Clients</a></li>
			<li class="loud"><a href="#">Contact</a></li>
		</ul>

	</header>
	
	<BR>

	<BR>
	<BR>
<div class="container">
  <br>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="/img/05.jpg" alt="Chania" width="460" height="345">
      </div>

      <div class="item">
        <img src="/img/02.jpg" alt="Chania" width="460" height="345">
      </div>
    
      <div class="item">
        <img src="/img/03.jpg" alt="Flower" width="460" height="345">
      </div>

      <div class="item">
        <img src="/img/04.jpg" alt="Flower" width="460" height="345">
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
<br><br>
<center>
<div class="w3-container" style="height:30px;width:30px;">
  <a href="/#A1" class="w3-btn-floating w3-ripple w3-teal"><img src="/img/down1.jpg" width="50" height="50" style="margin-top:-5px;margin-left:-5px;"></img></a>

</div>
  </center>
<div id="A1" class="slideTop">	
	<br><br><br><br>
	
<div id="slideout" style="float: left" >
    <h1 style="margin-left: 50px;">About</h1>
    <div id="slideout_inner">
        <div id="out">
        </div>
    </div>
</div>
		<div class="parent2" style="margin-top:150px;margin-left:520px;">
		<div class="test1"><a href="#hi1">Mining</a></div>
		<div class="test2"><a href="#hi2">Extraction</a></div>
		<div class="test3"><a href="#hi3">Analytics</a></div>
		<div class="test4"><a href="#hi4">Predictions</a></div>
		<div class="test5"><a href="#hi5">Knowledge</a></div>
		<div class="test6"><a href="#hi">What ?</a></div>
		<div class="mask3">
			Bitcoin</img>
		</div>
	</div>
</div>

<br><br><br><br><br><br><br><br><br><br>
<center>
<div class="w3-container" style="height:30px;width:30px;">
  <a href="/#hi" class="w3-btn-floating w3-ripple w3-teal"><img src="/img/down1.jpg" width="50" height="50" style="margin-top:-5px;margin-left:-5px;"></img></a>

</div>
  </center>
  
  
  
  <div class="totop" id="hi">
  <br><br><br>
  <h1 style="margin-left: 20px;color:#cc3399;font-size: 52px;
	font-family:cursive;
	font-weight: 1000;
	line-height: 62px;
	
	text-transform: uppercase;">WHAT ARE BITCOINS ?</h1>
  <div  id="abc" style="display:block;background-color: violet;">
  Bitcoin mining is a lot like a giant lottery where you compete with 
  your mining hardware with everyone on the network to earn bitcoins.
   Faster Bitcoin mining
   hardware is able to attempt more tries per second to win this lottery while the Bitcoin network 
  itself adjusts roughly every two weeks to keep the rate of finding a winning block hash to every ten minutes.
   In the big picture,
   Bitcoin mining secures transactions that are recorded in Bitcon's public ledger,
   the block chain.
   By conducting a random lottery where electricity and specialized equipment are the price of admission,
   the cost to disrupt the Bitcoin network scales with the amount of hashing power that is being spent by all mining participants.</div>
  <br><br><br>
  </div>
  
  
<br><br>
<center>
<div class="w3-container" style="height:30px;width:30px;">
  <a href="/#hi1" class="w3-btn-floating w3-ripple w3-teal"><img src="/img/down1.jpg" width="50" height="50" style="margin-top:-5px;margin-left:-5px;"></img></a>

</div>
  </center>
    
  
  
  <div id="hi1">
<br><br><br>
  <h1 style="margin-left:680px;color:#cc3399;font-size: 52px;
	font-family:cursive;
	font-weight: 1000;
	line-height: 62px;">Bitcoin Mining </h1>
  <div  id="abc" style="display:block;margin-left:560px;background-color: indigo;">
    Bitcoin mining is a lot like a giant lottery where you compete with 
  your mining hardware with everyone on the network to earn bitcoins.
   Faster Bitcoin mining
   hardware is able to attempt more tries per second to win this lottery while the Bitcoin network 
  itself adjusts roughly every two weeks to keep the rate of finding a winning block hash to every ten minutes.
   In the big picture,
   Bitcoin mining secures transactions that are recorded in Bitcon's public ledger,
   the block chain.
   By conducting a random lottery where electricity and specialized equipment are the price of admission,
   the cost to disrupt the Bitcoin network scales with the amount of hashing power that is being spent by all mining participants.</div></div>
  <br><br><br>
  </div>
  
  
<br><br>
<center>
<div class="w3-container" style="height:30px;width:30px;">
  <a href="/#hi2" class="w3-btn-floating w3-ripple w3-teal"><img src="/img/down1.jpg" width="50" height="50" style="margin-top:-5px;margin-left:-5px;"></img></a>

</div>
  </center>
    

  <div id="hi2">
 <br><br><br>
  <h1 style="margin-left: 40px;color:#cc3399;font-size: 52px;
	font-family:cursive;
	font-weight: 1000;
	line-height: 62px;">DATA EXTRACTION</h1>
  <div  id="abc" style="display:block;background-color: blue;"></div>
  <br><br><br>
  </div>
  
  
<br><br>
<center>
<div class="w3-container" style="height:30px;width:30px;">
  <a href="/#hi3" class="w3-btn-floating w3-ripple w3-teal"><img src="/img/down1.jpg" width="50" height="50" style="margin-top:-5px;margin-left:-5px;"></img></a>

</div>
  </center>
<br><br><br>
  <div id="hi3">
  <br><br><br>
  <h1 style="margin-left: 720px;color:#cc3399;font-size: 52px;
	font-family:cursive;
	font-weight: 1000;
	line-height: 62px;">ALGORITHMS</h1>
  <div  id="abc" style="display:block;margin-left:560px;background-color: green;"></div>
  <br><br><br>
  </div>
  
  
<br><br><br>
<center>
<div class="w3-container" style="height:30px;width:30px;">
  <a href="/#hi4" class="w3-btn-floating w3-ripple w3-teal"><img src="/img/down1.jpg" width="50" height="50" style="margin-top:-5px;margin-left:-5px;"></img></a>

</div>
  </center>
<br><br>    

<div id="hi4">
  <br><br><br>
  <h1 style="margin-left: 100px;color:#cc3399;font-size: 52px;
	font-family:cursive;
	font-weight: 1000;
	line-height: 62px;">PREDICTIONS</h1>
  <div  id="abc" style="display:block;background-color: yellow;"></div>
  <br><br><br>
  </div>
  
  
<br><br><br>
<center>
<div class="w3-container" style="height:30px;width:30px;">
  <a href="/#hi5" class="w3-btn-floating w3-ripple w3-teal"><img src="/img/down1.jpg" width="50" height="50" style="margin-top:-5px;margin-left:-5px;"></img></a>

</div>
  </center>
<br><br>    
<div id="hi5">
  <br><br><br>
  <h1 style="margin-left: 690px;color:#cc3399;font-size: 52px;
	font-family:cursive;
	font-weight: 1000;
	line-height: 62px;">KNOWLEDGE</h1>
  <div  id="abc" style="display:block;margin-left:560px;background-color: brown;	"></div>
  <br><br><br>
  </div>
  
  
<br><br><br>
<center>
<div class="w3-container" style="height:30px;width:30px;">
  <a href="/#hi1" class="w3-btn-floating w3-ripple w3-teal"><img src="/img/down1.jpg" width="50" height="50" style="margin-top:-5px;margin-left:-5px;"></img></a>

</div>
  </center>
<br><br>    

</body>
</html>